<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<%end%>

<div class="container">
 <% if @book.errors.any? %>
  <div id="error">
   <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
   <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
   </ul>
  </div>
 <% end %>
 <div class="row">
  <%= render 'books/list',user:@user %>
  <div class="col-md-8 offset-md-1">
   <h2>Book detail</h2>
   <table class="table">
    <tbody>
     <tr>
      <td>
       <%= link_to user_path(@book_show.user.id) do %>
       <%= image_tag @book_show.user.get_profile_image(100,100) %><br>
       <%= @book_show.user.name %>
       <% end %>
      </td>
      <td>
       <%= link_to book_path(@book_show.id) do %>
        <%= @book_show.title %>
       <% end %>
      </td>
      <td>
       <%= @book_show.body %>
      </td>
      <% if @book_show.user == current_user %>
      <td>
       <%= link_to "Edit",edit_book_path(@book_show.id),class:"btn btn-sm btn-success" %>
      </td>
      <td>
       <%=link_to 'Destroy',book_path(@book_show.id),method: :delete,"data-confirm"=>"本当に消しますか?" ,class:"btn btn-sm btn-danger"%>
      </td>
      <% end %>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>