<div>
  <p>title:<%= @book.title %></p>
  <p>setumei:<%= @book.body %></p>
  <p>username:<%= @book.user.name %></p>
  <p>day:<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <% if @book.user == current_user %>
   <%= link_to "Destroy",book_path(@book),method: :delete %>
  <% end %>
</div>